@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Inter:wght@400;500&display=swap');

:root {
  --bg: #faf7f2;
  --brown: #6b5845;
  --light-brown: #a08c78;
  --card: #ffffff;
  --pill: #f4efe9;
}

* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  background: var(--bg);
  font-family: "Inter", sans-serif;
} */

.back-link {
  text-align: left;
  margin-top: 100px;
  font-size: 0.95rem;
  color: #000;
  cursor: pointer;
}

.capsule-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  margin: 3rem 0 2.5rem;
  color: #000;
}

.capsule-card {
  background: var(--card);
  width: 420px;
  margin: 0 auto;
  padding: 3.5rem 2.5rem 3rem;
  border-radius: 6px;
  /* box-shadow: 0 8px 18px rgba(0,0,0,0.08); */
  position: relative;
  text-align: center;
}

.lock-icon {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  background: var(--bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

/* Texts */
.unlock-text {
  font-size: 1rem;
  color: var(--brown);
  margin-top: 1rem;
}

.remaining-text {
  font-size: 0.95rem;
  margin: 2.2rem 0 1.6rem;
  color: #000;
}

.divider {
  height: 1px;
  width: 85%;
  background: #e6dfd6;
  margin: 2rem auto;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.time-box {
  text-align: center;
}

.time-value {
  background: var(--pill);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.time-box span {
  font-size: 0.8rem;
  color: var(--light-brown);
}
.locked_background{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  width: 500px;
  background: #f7f5f1;
  padding: 5px 5px 42px; 
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
  margin: 0 auto;
  margin-top: 20px;
}