
/* Wrapper */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Title */
.title {
  font-size: 36px;
  letter-spacing: 2px;
  color: #5a4633;
  margin-bottom: 40px;
}
.auth-subtitle {
  margin-top: 8px;
  margin-bottom: 36px;
  font-size: 15px;
  color: #8a7a6b;
    font-family: "Inter", sans-serif;
}

/* Card */
.login-card {
  width: 520px;
  padding: 40px 90px;
  background-color: #fbf8f4;
  border: 2px solid #5a4633;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/* Tabs */
.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.tab {
  width: 140px;
  padding: 10px 0;
  border-radius: 8px;
  border: 2px solid #b7a99a;
  background: transparent;
  font-size: 16px;
  color: #9c8f83;
  cursor: pointer;
}

.tab.active {
  border: 2px solid #5a4633;
  color: #5a4633;
  font-weight: 600;
}

.form-group {
  margin-bottom: 28px;
  text-align: left;  
  font-family: "Inter", sans-serif; 
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #7c6b5d;
  font-size: 16px;
    font-family: "Inter", sans-serif; 

}

.form-group input {
  width: 90%;
  padding: 14px 16px;
  border-radius: 6px;
  border: 1.8px solid #d8cfc6;
  background-color: #fdfbf8;
  font-size: 15px;
  color: #5a4633;
  
}

.form-group input::placeholder {
  color: #c3b9af;
  font-family: "Inter", sans-serif;
}

.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background-color: #5a4633;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

/* Footer Text */
.signup-text {
  margin-top: 22px;
  text-align: center;
  font-size: 15px;
  color: #7c6b5d;
    font-family: "Inter", sans-serif;

}

.signup-text span {
  color: #5a4633;
  font-weight: 600;
  cursor: pointer;
    font-family: "Inter", sans-serif;

}

@media (max-width: 768px) {
  .login-card {
    width: 90%;
    padding: 36px 40px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .tab {
    width: 120px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .login-wrapper {
    padding: 20px;
  }

  .title {
    font-size: 26px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 28px;
  }

  .login-card {
    width: 100%;
    padding: 30px 24px;
  }

  .tab-buttons {
    gap: 14px;
    margin-bottom: 32px;
  }

  .tab {
    width: 100%;
    padding: 10px;
  }
  .form-group {
    margin-bottom: 24px;
    width: 80%;
  }

  .form-group label {
    font-size: 14px;
  }

  .form-group input {
    padding: 12px 14px;
    font-size: 14px;
    width: 90%;
  }

  .login-btn {
    padding: 13px;
    font-size: 16px;
    border-radius: 8px;
  }

  .signup-text {
    font-size: 14px;
  }
}
